
    <div class="sidebar" data-color="orange" data-image="../../assets/img/sidebar-5.jpg">
        <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

    Tip 2: you can also add an image using data-image tag
-->
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text logo-mini">
                    Ct
                </a>
                <a href="http://www.creative-tim.com" class="simple-text logo-normal">
                    Creative Tim
                </a>
            </div>
            <div class="user">
                <div class="photo">
                    <img src="../../assets/img/default-avatar.png" />
                </div>
                <div class="info ">
                    <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                        <span>Tania Andrew
                            <b class="caret"></b>
                        </span>
                    </a>
                    <div class="collapse" id="collapseExample">
                        <ul class="nav">
                            <li>
                                <a class="profile-dropdown" href="#pablo">
                                    <span class="sidebar-mini">MP</span>
                                    <span class="sidebar-normal">My Profile</span>
                                </a>
                            </li>
                            <li>
                                <a class="profile-dropdown" href="#pablo">
                                    <span class="sidebar-mini">EP</span>
                                    <span class="sidebar-normal">Edit Profile</span>
                                </a>
                            </li>
                            <li>
                                <a class="profile-dropdown" href="#pablo">
                                    <span class="sidebar-mini">S</span>
                                    <span class="sidebar-normal">Settings</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <ul class="nav">
                <li class="nav-item ">
                    <a class="nav-link" [routerLink]="['/admin/dashboard']">
                        <i class="nc-icon nc-chart-pie-35"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()" [routerLink]="['/admin/managehomepage']">
                        <i class="nc-icon nc-app"></i>
                        <p>
                            Manage Homepage
                            <b class="caret"></b>
                        </p>
                    </a>
                    <div class="collapse show" id="componentsExamples">
                        <ul class="nav">
                            <li class="nav-item active">
                                <a class="nav-link" [routerLink]="['/admin/managehomepage/carousel']">
                                    <span class="sidebar-mini">CH</span>
                                    <span class="sidebar-normal">Carousel Homepage</span>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" [routerLink]="['/admin/managehomepage/topsale']">
                                    <span class="sidebar-mini">TS</span>
                                    <span class="sidebar-normal">Top Sale</span>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" [routerLink]="['/admin/managecategory']">
                                    <span class="sidebar-mini">C</span>
                                    <span class="sidebar-normal">Category</span>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" [routerLink]="['/admin/manageblog']">
                                    <span class="sidebar-mini">BS</span>
                                    <span class="sidebar-normal">Blog Category</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                
                <li class="nav-item ">
                    <a class="nav-link" [routerLink]="['/admin/manageaboutus']">
                        <i class="nc-icon nc-chart-bar-32"></i>
                        <p>Manage About us</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" [routerLink]="['/admin/managefaq']">
                        <i class="nc-icon nc-single-copy-04"></i>
                        <p>Manage FAQ</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" [routerLink]="['/admin/manageproduct']">
                        <i class="nc-icon nc-single-copy-04"></i>
                        <p>Manage Product</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" [routerLink]="['/admin/manageorder']">
                        <i class="nc-icon nc-single-copy-04"></i>
                        <p>Manage Order</p>
                    </a>
                </li>
                
            </ul>
        </div>
    </div>

