
<div class="wrapper">
    <ngb-carousel>
            <ng-template ngbSlide>
              <div class="page-header header-filter">
                <div class="page-header-image" style="background-image: url('assets/img/bg40.jpg');"></div>
                <div class="content-center text-center">
                    <div class="row">
                        <div class="col-md-8 ml-auto mr-auto2">
                            <h1 class="title">Finding the Perfect.</h1>
                            <h4 class="description text-white">The vintage furniture eco friendly</h4>
                        </div>
                    </div>
                </div>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="page-header header-filter">
                  <div class="page-header-image" style="background-image: url('assets/img/bg41.jpg');"></div>
                  <div class="content-center">
                      <div class="row">
                          <div class="col-md-8 ml-auto mr-auto text-center">
                              <h1 class="title">Style</h1>
                              <h4 class="description text-white">Customize by talented vietnamese handcarft</h4>
                          </div>
                      </div>
                  </div>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="page-header header-filter">
                  <div class="page-header-image" style="background-image: url('assets/img/bg29.jpg');"></div>
                  <div class="content-center text-center">
                      <div class="row">
                          <div class="col-md-8 ml-auto mr-auto">
                              <h1 class="title">Unique</h1>
                              <h4 class="description text-white">Each Item only be made once</h4>
                          </div>
                      </div>
                  </div>
              </div>
            </ng-template>
        </ngb-carousel>

<div class="section section-examples" data-background-color= "gray">
  <div class="container">
      <div class="col-md-8 ml-auto mr-auto text-center">
          <div class="section-description">
              <h2 class="title">Category</h2>
              <h5 class="description">Forget about building everything from scratch. From landing pages to e-commerce or blog pages, you will be able jump start your development. Show your clients a quick prototype and get inspired for your next project!</h5>
          </div>
      </div>
      <div class="row">
          <div class="col-md-3">
              <h5 class="title">Living Room</h5>
              <div class="card">
                  <a [routerLink]="['/examples/aboutus']" target="_blank">
                      <img src="assets/img/presentation-page/pages/about-us.jpg" alt="">
                  </a>
              </div>
              
          </div>
          <div class="col-md-3">
            <h5 class="title">Living Room</h5>
            <div class="card">
                <a [routerLink]="['/examples/aboutus']" target="_blank">
                    <img src="assets/img/presentation-page/pages/about-us.jpg" alt="">
                </a>
            </div>
            
        </div>
          <div class="col-md-3">
              <h5 class="title">Bedroom</h5>
              <div class="card">
                  <a [routerLink]="['/examples/blogpost']" target="_blank">
                      <img src="assets/img/presentation-page/pages/blog-post.jpg" alt="">
                  </a>
              </div>  
              
          </div>
          <div class="col-md-3">
              <h5 class="title">Bathroom</h5>
              <div class="card">
                  <a [routerLink]="['/examples/pricing']" target="_blank">
                      <img src="assets/img/presentation-page/pages/pricing.jpg" alt="">
                  </a>
              </div>   
          </div>
      </div>
  </div>
</div>
<div class="section">
<div class="container">
    <h2 class="section-title">Top product</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card card-product card-plain">
                <div class="card-image">
                    <img class="img rounded" src="assets/img/saint-laurent1.jpg" />
                </div>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#pablo">Saint Laurent</a>
                    </h4>
                    <p class="card-description">The structured shoulders and sleek detailing ensure a sharp silhouette. Team it with a silk pocket square and leather loafers.</p>
                    <div class="card-footer">
                        <div class="price-container">
                            <span class="price price-old"> &euro;1,430</span>
                            <span class="price price-new"> &euro;743</span>
                        </div>
                        <div class="stats stats-right">
                            <button type="button" placement="top" ngbTooltip="" class="btn btn-icon btn-neutral" data-original-title="Saved to Wishlist">
                                <i class="now-ui-icons ui-2_favourite-28"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-product card-plain">
                <div class="card-image">
                    <img class="img rounded" src="assets/img/saint-laurent.jpg" />
                </div>
                <div class="card-body">
                    <h4 class="card-title">
                        <h4 class="card-title">Saint Laurent</h4>
                    </h4>
                    <p class="card-description">The structured shoulders and sleek detailing ensure a sharp silhouette. Team it with a silk pocket square and leather loafers.</p>
                    <div class="card-footer">
                        <div class="price-container">
                            <span class="price price-old"> &euro;1,430</span>
                            <span class="price price-new">&euro;743</span>
                        </div>
                        <div class="stats stats-right">
                            <button type="button" placement="top" ngbTooltip="" class="btn btn-icon btn-neutral" data-original-title="Saved to Wishlist">
                                <i class="now-ui-icons ui-2_favourite-28"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-product card-plain">
                <div class="card-image">
                    <img class="img rounded" src="assets/img/gucci.jpg" />
                </div>
                <div class="card-body">
                    <h4 class="card-title">
                        <h4 class="card-title">Gucci</h4>
                    </h4>
                    <p class="card-description">The smooth woven-wool is water resistant to ensure you stay pristine after a long-haul flight. Cut in a trim yet comfortable regular fit.</p>
                    <div class="card-footer">
                        <div class="price-container">
                            <span class="price price-old"> &euro;2,430</span>
                            <span class="price price-new">&euro;890</span>
                        </div>
                        <div class="stats stats-right">
                            <button type="button" placement="top" ngbTooltip="" class="btn btn-icon btn-neutral btn-default" data-original-title="Add to Wishlist">
                                <i class="now-ui-icons ui-2_favourite-28"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="projects-1">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title">Our new blogs</h2>
            <ngb-tabset type="pills" class="nav nav-pills nav-pills-danger justify-content-center tab-space">
                <ngb-tab title="All">
                    <ng-template ngbTabContent>

                    </ng-template>
                </ngb-tab>
                <ngb-tab title="History">
                    <ng-template ngbTabContent>

                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Satire">
                    <ng-template ngbTabContent>

                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Fiction">
                    <ng-template ngbTabContent>

                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 px-0">
            <div class="card card-background card-background-product card-no-shadow" style="background-image: url('assets/img/project1.jpg')">
                <div class="card-body">
                    <h6 class="category">History</h6>
                    <h3 class="card-title">
                        The City Lost & Found
                    </h3>
                    <p class="card-description">
                        Developed on the occasion of an exhibition of the same name, The City Lost & Found: Capturing New York...
                    </p>
                    <a href="#pablo" class="btn btn-danger btn-round">
                        <i class="now-ui-icons ui-1_send"></i> View Book
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6 px-0">
            <div class="card card-raised card-background card-background-product card-no-shadow" style="background-image: url('assets/img/project18.jpg')">
                <div class="card-body">
                    <h6 class="category">Satire</h6>
                    <h3 class="card-title">A Confederacy of Dunces</h3>
                    <p class="card-description">
                        Satires, in the most basic definition, are works making fun of some sort of person or institution...
                    </p>
                    <a href="#pablo" class="btn btn-neutral btn-round">
                        <i class="now-ui-icons ui-1_send"></i> View more
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6 px-0">
            <div class="card card-background card-background-product card-no-shadow" style="background-image: url('assets/img/project20.jpg')">
                <div class="card-body">
                    <h6 class="category">Fiction</h6>
                    <h3 class="card-title">The Sun Also Rises</h3>
                    <p class="card-description">
                        The most commonly read works are works of fiction. Fiction books are ones that have been made up...
                    </p>
                    <a href="#pablo" class="btn btn-neutral btn-round">
                        <i class="now-ui-icons ui-1_send"></i> Read Now
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6 px-0">
            <div class="card card-background card-background-product card-no-shadow" style="background-image: url('assets/img/project19.jpg')">
                <div class="card-body">
                    <h6 class="category">Basic Civitas</h6>
                    <h3 class="card-title">The Right Mistake</h3>
                    <p class="card-description">
                        Living in South Central L.A., Socrates Fortlow is a sixty-year-old ex-convict, still strong enough to kill men with...
                    </p>
                    <a href="#pablo" class="btn btn-danger btn-round">
                        <i class="now-ui-icons ui-1_send"></i> Read Now
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>





</div>

