
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<client-nav></client-nav>
<main>
<router-outlet></router-outlet>
</main>
<client-foot></client-foot>
<script src="../client/assets/js/jquery.3.2.1.min.js" type="text/javascript"></script>
<script src="../client/assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../client/assets/js/popper.min.js" type="text/javascript"></script>
