<div class="content">
        <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card table-big-boy">
                <div class="card-header ">
                    <h4 class="card-title">About us method </h4>
                    <p class="card-category">Method</p>
                    <br />
                </div>
                
                <div class="card-body table-full-width">
                    <table class="table table-bigboy">
                        <thead>
                            <tr>
                                <th class="text-center">Motto</th>
                             
                                <th class="th-description">Description</th>
                             
                              
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center" >
                                    noice
                                </td>
                                
                                <td>
                                    Most beautiful agenda for the office, really nice paper and black cover. Most beautiful agenda for the office.
                                </td>
                               
                                
                                <td class="td-actions">
                                    <button type="button" rel="tooltip" data-placement="left" title="View Post" class="btn btn-info btn-link btn-icon">
                                        <i class="fa fa-image"></i>
                                    </button>
                                    <button type="button" rel="tooltip" data-placement="left" title="Edit Post" class="btn btn-success btn-link btn-icon">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    <button type="button" rel="tooltip" data-placement="left" title="Remove Post" class="btn btn-danger btn-link btn-icon ">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </td>
                            </tr>
                          
                        
                           
                       
                        </tbody>
                    </table><br>
                    <table class="table table-bigboy">
                            <thead>
                                <tr>
                                    <th class="text-center">Feature</th>
                                 
                                    <th class="th-description">Description</th>
                                 
                                  
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center" >
                                        noice
                                    </td>
                                    
                                    <td>
                                        Most beautiful agenda for the office, really nice paper and black cover. Most beautiful agenda for the office.
                                    </td>
                                   
                                    
                                    <td class="td-actions">
                                        <button type="button" rel="tooltip" data-placement="left" title="View Post" class="btn btn-info btn-link btn-icon">
                                            <i class="fa fa-image"></i>
                                        </button>
                                        <button type="button" rel="tooltip" data-placement="left" title="Edit Post" class="btn btn-success btn-link btn-icon">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                        <button type="button" rel="tooltip" data-placement="left" title="Remove Post" class="btn btn-danger btn-link btn-icon ">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </td>
                                </tr>
                              
                            
                               
                           
                            </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>
        </div>
        </div>
    
    
