<div class="content">
        <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card table-big-boy">
                <div class="card-header ">
                    <h4 class="card-title"> Manage team </h4>
                    <p class="card-category">Team members</p>
                    <br />
                </div>
                
                <div class="card-body table-full-width">
                    <table class="table table-bigboy">
                        <thead>
                            <tr>
                                <th class="text-center">Intro team</th>
                             
                                <th class="th-description">Description</th>
                             
                              
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">
                                    lolo
                                </td>
                                
                                <td > 
                                    Most beautiful agenda for the office, really nice paper and black cover. Most beautiful agenda for the office.
                                </td>
                               
                                
                                <td class="td-actions">
                                    <button type="button" rel="tooltip" data-placement="left" title="View Post" class="btn btn-info btn-link btn-icon">
                                        <i class="fa fa-image"></i>
                                    </button>
                                    <button type="button" rel="tooltip" data-placement="left" title="Edit Post" class="btn btn-success btn-link btn-icon">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    <button type="button" rel="tooltip" data-placement="left" title="Remove Post" class="btn btn-danger btn-link btn-icon ">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </td>
                            </tr>
                          
                        
                           
                       
                        </tbody>
                    </table>
                    <table class="table table-bigboy">
                            <thead>
                                <tr>
                                    <th class="text-center">Image</th>
                                    <th class="th-description">Name</th>
                                    <th>Title</th>
                                    <th class="th-description">Description</th>
                                 
                                  
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="img-container">
                                            <img src="../../assets/img/blog-1.jpg" alt="...">
                                        </div>
                                    </td>
                                    <td class="td-name">satire</td>
                                    <td class="td-name">
                                        10 Things that all designers do
                                    </td>
                                    <td>
                                        Most beautiful agenda for the office, really nice paper and black cover. Most beautiful agenda for the office.
                                    </td>
                                   
                                    
                                    <td class="td-actions">
                                        <button type="button" rel="tooltip" data-placement="left" title="View Post" class="btn btn-info btn-link btn-icon">
                                            <i class="fa fa-image"></i>
                                        </button>
                                        <button type="button" rel="tooltip" data-placement="left" title="Edit Post" class="btn btn-success btn-link btn-icon">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                        <button type="button" rel="tooltip" data-placement="left" title="Remove Post" class="btn btn-danger btn-link btn-icon ">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </td>
                                </tr>
                              
                            
                               
                           
                            </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>
        </div>
        </div>
    
    

